@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* colors */
  --color-black-500: rgba(2, 2, 2, 1);
  --color-black-300: rgba(84, 84, 84, 1);

  --color-black-200: rgba(138, 138, 138, 1);
  --color-black-100: rgba(51, 51, 51, 1);
  --color-black-50: rgba(230, 230, 230, 1);

  --color-grey-100: rgba(196, 196, 196, 1);
  --color-brand-800: #be968e;
  --color-brand-500: rgba(190, 150, 142, 0.4);

  /* fonts */
  --font-poppins: Poppins, sans-serif;
  --text-base-size: 0.875rem;
  --text-base-line: 1;

  --text-h3-size: 2rem;
  --text-h3-line: 1;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-semibold: 600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.06);
    color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);

  font-size: var(--text-base-size);
  line-height: var(--text-base-line);
  font-weight: var(--font-weight-normal);
}
